body {
	font-family: "Oxanium", cursive;
	color: var(--dark);
}

button {
	font-family: inherit;
}

.settings {
	.game-title {
		font-size: 3rem;
		color: var(--tint2);
	}

	&__red-fury-title,
	&__blue-diamond-title,
	&__green-arrow-title {
		color: var(--tint2);
	}

	&__difficulty-title,
	&__fighters-title,
	&__canvas-title {
		color: var(--light);
	}
}

.start {
	&__hint {
		padding-top: 2rem;
		color: var(--light);
	}
}
