.enemy-box {
	display: inline-grid;
	position: absolute;
	gap: var(--enemy-grid-gap);

	.enemy {
		display: inline-block;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
}
