.hud {
	height: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--tint1);
	gap: var(--gap);
	opacity: 1;
	padding: 0 var(--hud-padding);
	z-index: 10;

	& > * {
		height: 70%;
	}

	&__lives {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--gap-s);
	}

	&__shooter-img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
		height: inherit;
	}

	&__shooter-lives {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
	}

	&__score {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 2rem;
		width: 6ch;
	}

	&__cooldown-meter {
		display: none;
		position: relative;
		background-image: linear-gradient(to bottom, var(--tint2), var(--light));
		width: 10px;
		border-radius: 10px;
		overflow: hidden;
	}

	&__bar {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0%;
		background-color: var(--dark);
		transition-duration: 100ms;
		transition-property: top;
	}
}
