.hud {
	height: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--tint2);
	opacity: 1;
	padding: 0 var(--hud-padding);
	transition-duration: 200ms;

	&__cooldown-meter {
		position: relative;
		background-image: linear-gradient(to bottom, red, yellow);
		height: 50%;
		width: 10px;
		border-radius: 10px;
		overflow: hidden;
	}

	&__bar {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0%;
		background-color: var(--dark);
		transition-duration: 100ms;
		transition-property: top;
	}
}
