#root {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1650px;
	width: 100vw;
}

body {
	display: flex;
	position: relative;
	height: 100vh;
	background-color: black;
}
